@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/header/header.css');
@import urL('../blocks/footer/footer.css');
@import url('../blocks/article-grid/article-grid.css');
@import url('../blocks/article/article.css');
@import url('../blocks/saved-news/saved-news.css');

.page {
  position: relative;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
}