.article__image {
  width: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media screen and (max-width: 1440px) {
  .article__image {
    width: 27.7777vw;
    min-width: 224px;
  }
}

@media screen and (max-width: 732px) {
  .article__image {
    width: 288px;
  }
}