.footer__link_text {
  margin: 0 0 0 32px;
}

.footer__link_text:first-of-type {
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .footer__link_text {
    margin: 0 0 0 2.2222vw;
  }
}

@media screen and (max-width: 768px) {
  .footer__link_text {
    margin: 0 0 0 16px;
  }
}

@media screen and (max-width: 410px) {
  .footer__link_text:last-of-type {
    margin: 24px 0 0 0;
  }
}