.article__icon_delete {
  background-image: url('../../../../images/delete_normal.svg');
}

.article__icon_delete:hover {
  background-image: url('../../../../images/delete_hover.svg');
}

.article__icon_delete:hover + .article__icon-helper {
  display: flex;
}


@media screen and (max-width: 1152px) {
  .article__icon_delete:hover + .article__icon-helper {
    display: none;
  }
}
