.results__not-found-icon {
  display: block;
  width: 96px;
  height: 96px;
  margin: 80px auto 24px;
}

@media screen and (max-width: 1440px) {
  .results__not-found-icon {
    margin: 5.5555vw auto 1.6666vw;
  }
}

@media screen and (max-width: 768px) {
  .results__not-found-icon {
    margin: 5.2083vw auto 12px;
  }
}

@media screen and (max-width: 615px) {
  .results__not-found-icon {
    margin: 32px auto 12px;
  }
}
