.article__source {
  position: absolute;
  margin: 0;
  left: 24px;
  bottom: 24px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}

@media screen and (max-width: 1440px) {
  .article__source {
    left: 1.6666vw;
    bottom: 1.6666vw;
  }
}

@media screen and (max-width: 960px) {
  .article__source {
    left: 16px;
    bottom: 16px;
  }
}
