.header__popup {
  display: none;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: #1A1B22;
  visibility: hidden;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__popup:target {
  visibility: visible;
}

@media screen and (max-width: 1440px) {
  .header__popup {
    height: 5.555vw;
    min-height: 66px;
  }
}

@media screen and (max-width: 768px) {
  .header__popup {
    height: 8.5937vw;
    min-height: 56px;
  }
}

@media screen and (max-width: 620px) {
  .header__popup {
    display: flex;
  }
}

