.popup__error-message_password {
  position: absolute;
  top: 227px;
  left: 36px;
  margin: 0;
}

@media screen and (max-width: 410px) {
  .popup__error-message_password {
    top: 210px;
    left: 16px;
  }
}