@import url('./_logout/header__button_logout.css');
@import url('./_hidden/header__button_hidden.css');
@import url('./_border-black/header__button_border-black.css');
@import url('./_border-white/header__button_border-white.css');
@import url('./_text-black/header__button_text-black.css');
@import url('./_text-white/header__button_text-white.css');
@import url('./_logout/header__button_logout.css');
@import url('./_normal/header__button_normal.css');
@import url('./_popup/header__button_popup.css');
@import url('./_visible/header__button_visible.css');

.header__button {
  box-sizing: border-box;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s linear 0s;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.header__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1440px) {
  .header__button {
    font-size: 1.25vw;
  }
}

@media screen and (max-width: 1280px) {
  .header__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header__button {
    font-size: 16px;
  }
}